<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head') %>
  <body>
    <div class="restaurant-container">
      <%- include('../partials/_sidebar') %>
      <main class="main-content">
        <h2 class="settings-title">Settings</h2>

        <label class="theme-toggle">
          <input type="checkbox" id="themeToggle" />
          <span class="slider"></span>
          <span class="label-text">Light Mode</span>
        </label>

        <!-- User Profile Form -->
        <section class="settings-section">
          <h3 class="settings-section-title">Update Profile</h3>
          <form class="settings-form" action="/settings/profile" method="POST">
            <label for="name">Name:</label>
            <input
              class="settings-form-input"
              type="text"
              id="name"
              name="name"
              value="<%= user.name %>"
              required
            />

            <label for="email">Email:</label>
            <input
              class="settings-form-input"
              type="email"
              id="email"
              name="email"
              value="<%= user.email %>"
              required
            />

            <label for="password">New Password (optional):</label>
            <input
              class="settings-form-input"
              type="password"
              id="password"
              name="password"
            />

            <button type="submit" class="btn btn-main">Save Profile</button>
          </form>
        </section>

        <!-- Restaurant Form -->
        <% if (restaurant) { %>
        <section class="settings-section">
          <h3 class="settings-section-title">Manage Restaurant</h3>
          <form
            class="settings-form"
            action="/settings/restaurant"
            method="POST"
          >
            <label for="restaurant-name">Restaurant Name:</label>
            <input
              class="settings-form-input"
              type="text"
              id="restaurant-name"
              name="name"
              value="<%= restaurant.name %>"
              required
            />

            <button type="submit" class="btn btn-main">
              Update Restaurant
            </button>
          </form>
          <section class="settings-section">
            <h3 class="settings-section-title">Danger Zone</h3>

            <form
              class="settings-form"
              action="/settings/restaurant/delete"
              method="POST"
            >
              <label for="confirm-delete"
                >To delete your restaurant, type its exact name below:</label
              >
              <input
                class="settings-form-input"
                type="text"
                id="confirm-delete"
                name="confirmName"
                required
              />
              <button type="submit" class="btn btn-danger" id="delete-btn">
                Delete Restaurant
              </button>
            </form>
          </section>
        </section>
        <% } else { %>
        <p>You do not own a restaurant.</p>
        <% } %>
        <section class="settings-section">
          <h3 class="settings-section-title">Logout</h3>
          <form class="settings-form" action="/auth/sign-out" method="GET">
            <button type="submit" class="btn btn-secondary">Logout</button>
          </form>
        </section>
      </main>
    </div>
  </body>
</html>
