<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head') %>
  <body>
    <div class="restaurant-container">
      <%- include('../partials/_sidebar') %>

      <main class="main-content">
        <div class="header">
          <ul class="header-list">
            <li class="header-list-item">⭐ Rating: 5.0</li>
            <li class="header-list-item">📦 Orders: 12</li>
            <li class="header-list-item">💰 Earnings: $1200</li>
            <li class="header-list-item">✅ Orders Completed: 5</li>
          </ul>
          <form action="/orders" method="POST">
            <button type="submit" class="btn btn-main">Get orders</button>
          </form>
        </div>

        <ul class="orders-grid">
          <% restaurant.orders.filter(order => order.status ===
          "pending").forEach(order => { %>
          <li class="order-item">
            <div class="order-content">
              <h4 class="order-title">
                Order #<%= order._id.toString().slice(-6) %>
              </h4>
              <p class="order-status"><%= order.status %></p>

              <ul class="order-details">
                <li class="order-category">
                  <strong>Noodle:</strong> <%= order.item.noodle %>
                </li>
                <li class="order-category">
                  <strong>Broth:</strong> <%= order.item.broth %>
                </li>
                <li class="order-category">
                  <strong>Protein:</strong> <%= order.item.protein %>
                </li>
                <li class="order-category">
                  <strong>Toppings:</strong> <%= order.item.toppings.join(", ")
                  %>
                </li>
                <li class="order-category">
                  <strong>Drink:</strong> <%= order.item.drinks.join(", ") %>
                </li>
              </ul>

              <p class="order-price">
                <strong>Price:</strong> $<%= order.item.total_price %>
              </p>
            </div>
            <div class="button-group">
              <a href="/orders/<%= order._id %>" class="btn btn-secondary"
                >Complete</a
              >
            </div>
          </li>
          <% }) %>
        </ul>
      </main>
    </div>
  </body>
</html>
